/* GLOBAL STYLES */
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

.App {
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive !important;
}

/* HEADER */
.hangman_header {
  height: 30vh;
  background-image: url('https://images.unsplash.com/photo-1495257650819-a603d6ff4b01?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1769&q=80');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.hangman_header_heading {
  font-size: 5em;
}

/* LETTER GUESS ROW */
.letter_guess_row {
  margin: 10px 0px;
}

.wrong_letter_header {
  margin: 10px 0px;
}

.guess_input_field {
  margin: 10px 0px;
}

.mistake_header {
  margin: 20px 0px;
}


/* FOOTER */
.hangman_footer {
  height: 100px;
  background: skyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px 0px 0px;
}